@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body{
    background-color: #1a1a23;
    color: #b1a493;
    font-family: 'Kantumruy Pro', helvetica, arial, sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 auto;
    max-width: 1180px;
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
    color: #faebd7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top: 2.6rem;
}

.cta{
    color:#e6ab5d;
}

a:link {
    color: #f79a75;
}
a:visited {
    color: #dedebb87;
}
a:hover {
    
}
a:active {

}

a.inpara {
    color: #b1a493;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 1.0rem;
        line-height: 1.7rem;    
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 2.6rem;
    }
}